<div class="container">
    <div class="row" style="padding-top:100px;">
      <div class="span3">
        <div class="well sidebar-nav">
            <ul id='publication'>
            </ul>
            <a href='#/all_articles' class="btn btn-primary">See All</a>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <h4>Articles</h4>
          <ul id='article'>
          </ul>
      </div>
    </div><!--/row-->
</div> <!-- /container -->
