<div class="container">
    <div class="row" style="padding-top:100px;">
      <div class="span3">
        <div class="well sidebar-nav" style="padding-left: 5px">
            <ul id='publication' style="list-style-type: none;">
            </ul>
            <!-- <a href='#/all_articles' class="btn btn-primary">See All</a> -->
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <h4>Articles</h4>
          <ul id='article' style="list-style-type: none;">
          </ul>
      </div>
    </div><!--/row-->
</div> <!-- /container -->
