
<div class="features br-lblue">
  <div class="container">
    <div class="feature-four">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <!-- Feature Three Item -->
            <div class="feature-four-item br-black">
              <!-- Feature Three Content-->
              <div class="feature-four-content">
                <ul id='publication' style="list-style-type: none;"></ul>
              </div>
              <!-- Clear-->
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="feature-four-item br-black">
              <div class="feature-four-content">
                <div class="panel-group" id='article' style="list-style-type: none;"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


