<div id='main-nav-bg'></div>
<nav id='main-nav'>
  <div class='navigation'>
    <ul class='nav nav-stacked'>
      <li>
        <a>
          <b><i class='icon-dashboard'></i></b>
          <span><b>Dashboard</b></span>
        </a>
      </li>
      <li class=''>
        <a href="#/refresh" id="refresh">
          <i class='icon-refresh'></i>
          <span>Refresh Articles</span>
        </a>
      </li>
      <li class=''>
        <a href="#/all_articles">
          <i class='icon-eye-open'></i>
          <span>See All Articles</span>
        </a>
      </li>
    </ul>
    <ul id='publication' class='nav nav-stacked'>

    </ul>
  </div>
</nav>
<section id='content'>
<div class='container-fluid'>
  <div class='row-fluid' id='content-wrapper'>
    <div class='span12'>
      <div class='row-fluid'>
        <div class='span12'>
          <div class='page-header'>
            <h1>
              <i class='icon-list'></i>
              <span>ARTICLES</span>
            </h1>
          </div>
        </div>
      </div>
      <div id='faq'>
        <div class='row-fluid'>
            <div id='article' class='accordion'>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>




