<div class='container-fluid'>
  <div class='row-fluid' id='content-wrapper'>
    <div class='span12'>

      <h1 id='welcome'>Welcome to Simple Google Reader</h1><br>
      <p id='welcome-description'>
        Log in to create, customize and view your own personal RSS feed.
      </p>

    </div>
  </div>
</div>
