    <div class="service br-black text-center block">
      <!-- Container -->
      <div class="container">
        <!-- Page Title -->
        <div class="page-title">
          <!-- Header -->
          <h1 id='welcome'>Welcome to Simple Google Reader</h1><br>
          <p id='welcome-description'>
            Log in to create, customize and view your own personal RSS feed.
          </p>
        </div>

      </div>
    </div>

