<form id="new_feed" style="padding:20px 30px 0px 0px;">
  <input type="text" name="name" id="new_feed_name" placeholder="Enter Rss URL">
  <input type="submit" value="New RSS Feed" class="btn btn-info btn-lg">
</form>


<div class="about-one-item" style="padding:10px 30px 0px 0px;">
  <!-- About One Links -->
  <div class="about-one-links br-lblue">
    <!-- Unordered List -->
    <ul class="list-unstyled">
      <!-- List -->
      <li>
        <a href="#refresh" id="refresh">Refresh Articles</a>
      </li>
      <li>
        <a href="#/all_articles">See All Articles</a>
      </li>
    </ul>
  </div>
</div>
<br>

{{#each publications}}
  {{#if name}}
    <li>
      <b><a href='#/publications/{{id}}' style='text-decoration:none'>{{name}}</a></b>
         <a href="#/publications/{{id}}/delete">delete</a>
    </li>
  {{/if}}
{{/each}}

