<li>
  <a>
    <b><i class='icon-plus'></i></b>
    <span>Add Publication</span>
  </a>
</li>
<li>
  <div class='row-fluid'>
    <div class='span12 box'>
      <div class='box-content'>
        <form id="new_feed" style="padding:10px 0px 10px 0px;margin-bottom:0px;">
          <input class='autosize input-block-level' type="text" name="name" id="new_feed_name" placeholder="Enter Rss URL">
          <input type="submit" value="New Feed" class="btn btn-primary" ><br>
{{!--           <button class='btn btn-link btn-large' style='margin-bottom:5px'>
            <i class='icon-rss-sign'></i>New Feed
          </button> --}}
        </form>
      </div>
    </div>
  </div>
</li>
<li>
  <a class='dropdown-collapse in'>
    <i class='icon-book'></i>
    <span><b>Publications</b></span>
  </a>
  <ul class='in nav nav-stacked'>

    {{#each publications}}
      {{#if name}}

        <li>
          <div class='row-fluid'>
            <div class='span12'>
              <div class='box-content box-statistic'>
                <i class='icon-bookmark-empty'></i>
                <a href='#/publications/{{id}}'>
                  {{name}}
                </a>
                <a href="#/publications/{{id}}/delete" style="float:right">
                  <i class='icon-remove'></i>
                </a>
              </div>
            </div>
          </div>
        </li>

      {{/if}}
    {{/each}}

  </ul>
</li>


